
{% extends 'layout/base.html.twig' %}

{% block body %}


    <div class="container">
      <div class="row">


        <main role="main" class="col-lg-12">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Stats</h1>
          </div>

        <div id="age" width="900" height="380"></div>
        <div id="chart" width="900" height="380"></div>

        </main>

      </div>
    </div>
{% endblock %}