{% extends 'layout/base.html.twig' %}

{% block body %}

<body>
<div class="container-fluid">
    <div class="row">
      
        <P> Cet utilisateur n'a pas plus de compte et aucune informations associés </p>

    
    </div>
</div>


{% block javascripts %}

    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
   
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

 
{% endblock %}

{% endblock %}


