<!DOCTYPE html>
<html>
    {{ include('layout/header.html.twig') }}
    <body style="padding-top:110px">
        {{ include('layout/navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('layout/footer.html.twig') }}
    </body>

</html>