<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
            <a class="nav-link active" href="{{ path('maps') }}">
                <span data-feather="home"></span>
                Maps <span class="sr-only">(current)</span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ path('search') }}">
                <span data-feather="shopping-cart"></span>
                Search
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ path('stats') }}">
                <span data-feather="file"></span>
                Stats
            </a>
            </li>
        </ul>
    </div>
</nav>