
<div class="list-group">
  <a href="{{ path('user.worker') }}" class="list-group-item list-group-item-action">WORKER</a>
  <a href="{{ path('user.account') }}" class="list-group-item list-group-item-action">COMPTE</a>
  <a href="{{ path('user.billing') }}" class="list-group-item list-group-item-action">ABONNEMENT</a>
</div>